@page "/test"
@using Acme.BookStore.Authors;
@using Blazorise
@using Blazorise.DataGrid
@inject IAuthorAppService _authorAppService


<Div Class="row mt-2">
    <div class="col-12">
        <Card>
            <CardHeader>
                <Row Class="justify-content-between">
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <h2>Author</h2>
                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is6">
                        <div class="form-group">
                            <input @onkeyup="OnTableSearchButton" @bind-value:event="oninput" @bind-value="FilterValue" placeholder="search in table" class="form-control form-control-sm" />
                        </div>
                    </Column>
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <div class="form-check">
                            <input type="checkbox" @bind-value="AdvancedSearch" @onclick="@( ()=> OnHandelAdvancedSearch())" class="form-check-input" />
                            <label class="form-check-label">
                                Advanced Search
                            </label>
                        </div>
                    </Column>
                </Row>
            </CardHeader>
            <CardBody>
                <DataGrid TItem="AuthorDto"
                          Data="AuthorList"
                          ReadData="OnDataGridReadAsync"
                          TotalItems="TotalCount"
                          ShowPager="true"
                          PageSize="PageSize"
                          Hoverable="true"
                          Filterable="@IsDataGridFilterable"
                          FilterMethod="DataGridFilterMethod.Contains"
                          Editable="false"
                          EditMode="DataGridEditMode.Inline"
                          @bind-SelectedRow="@selectedAuthorDto"
                          CommandMode="DataGridCommandMode.Default"
                          UseValidation="true"
                          Responsive="true"
                          ShowValidationsSummary="false"
                          ShowPageSizes="true">
                    <DataGridColumns>
                        <DataGridColumn Caption="#"
                                        Editable="false"
                                        Filterable="false">
                            <DisplayTemplate>
                                <span>@((AuthorList.IndexOf(context) + 1).ToString())</span>
                            </DisplayTemplate>
                        </DataGridColumn>  
                        <DataGridColumn TItem="AuthorDto"
                                        Field="@nameof(AuthorDto.Name)"
                                        Caption="Name"
                                        Editable="false">
                        </DataGridColumn>
                        <DataGridColumn TItem="AuthorDto"
                                        Field="@nameof(AuthorDto.ShortBio)"
                                        Caption="ShortBio"
                                        Editable="false">
                        </DataGridColumn>

                        <DataGridCommandColumn Field="Actions" Caption="Actions" Width="200px" NewCommandAllowed="false" TItem="AuthorDto">
                            <ClearFilterCommandTemplate>
                                <Button Class="btn-outline-info" Clicked="@(()=>OnClearSearchButton(context))">
                                    Clear Filter
                                </Button>
                            </ClearFilterCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGridColumns>
                </DataGrid>
            </CardBody>
        </Card>
    </div>
</Div>

