@page "/test"
@using Acme.BookStore.Authors;
@using Acme.BookStore.Blazor.Helper;
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@inject IAuthorAppService _authorAppService


<Div Class="row mt-2">
    <div class="col-12">
        <Card>
            <CardHeader>
                <Row Class="justify-content-between">
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <h2>Authors</h2>
                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is6">
                        <div class="form-group">
                            <input @onkeyup="OnTableSearchButton" @bind-value:event="oninput" @bind-value="FilterValue" placeholder="search in table" class="form-control form-control-sm" />
                        </div>
                    </Column>
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <div class="form-check">
                            <input type="checkbox" @bind-value="AdvancedSearch" @onclick="@( ()=> OnHandelAdvancedSearch())" class="form-check-input" />
                            <label class="form-check-label">
                                Advanced Search
                            </label>
                        </div>
                    </Column>
                </Row>
            </CardHeader>
            <CardBody>
                <DataGrid TItem="AuthorDto"
                          Data="AuthorList"
                          ReadData="OnDataGridReadAsync"
                          TotalItems="TotalCount"
                          ShowPager="true"
                          PageSize="PageSize"
                          Hoverable="true"
                          Filterable="@IsDataGridFilterable"
                          FilterMethod="DataGridFilterMethod.Contains"
                          Editable="false"
                          EditMode="DataGridEditMode.Inline"
                          @bind-SelectedRow="@selectedAuthorDto"
                          CommandMode="DataGridCommandMode.Default"
                          UseValidation="true"
                          Responsive="true"
                          ShowValidationsSummary="false"
                          ShowPageSizes="true">
                    <DataGridColumns>
                        <DataGridColumn Caption="#"
                                        Editable="false"
                                        Filterable="false">
                            <DisplayTemplate>
                                <span>@((AuthorList.IndexOf(context) + 1).ToString())</span>
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="AuthorDto"
                                        Field="@nameof(AuthorDto.Name)"
                                        Caption="Name"
                                        Editable="false">
                        </DataGridColumn>
                        <DataGridColumn TItem="AuthorDto"
                                        Field="@nameof(AuthorDto.ShortBio)"
                                        Caption="ShortBio"
                                        Editable="false">
                        </DataGridColumn>
                        <DataGridColumn TItem="AuthorDto"
                                        Field="Sex"
                                        Caption="Sex">

                            <FilterTemplate>
                                <SelectList SelectedValue="@SexStatus"
                                            SelectedValueChanged="@(value => {SexStatus = value;context.TriggerFilterChange( SexStatus); })"
                                            TItem="SexStatusEnum"
                                            TValue="SexStatusEnum?"
                                            DefaultItemDisabled="false"
                                            Data="Enum.GetValues(typeof(SexStatusEnum)).OfType<SexStatusEnum>().Where(i=> i != SexStatusEnum.SelectAnOption)"
                                            TextField="@((item)=>item.GetDisplayAttributeValues().Name)"
                                            ValueField="@((item)=>item)"
                                            DefaultItemText="" />
                            </FilterTemplate>
                        </DataGridColumn>
                        
                        <DataGridColumn TItem="AuthorDto"
                                        Field="@nameof(AuthorDto.BirthDate)"
                                        Caption="D.O.B">
                            <DisplayTemplate>
                                @{
                                    var date = (context as AuthorDto)?.BirthDate;

                                    if (date != null)
                                    {
                                        @($"{date.Value.ToString("MMM dd, yyyy")}")
                                    }
                                }
                            </DisplayTemplate>

                            <FilterTemplate>
                                <DateEdit TValue="DateTime?" Date="BirthDate" DateChanged="@(value => { BirthDate = value; context.TriggerFilterChange( BirthDate ); })" />
                            </FilterTemplate>
                        </DataGridColumn>
                        <DataGridCommandColumn Field="Actions" Caption="Actions" Width="200px" NewCommandAllowed="false" TItem="AuthorDto">
                            <ClearFilterCommandTemplate>
                                <Button Class="btn-outline-info" Clicked="@(()=>OnClearSearchButton(context))">
                                    Clear Filter
                                </Button>
                            </ClearFilterCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGridColumns>
                </DataGrid>
            </CardBody>
        </Card>
    </div>
</Div>

